In [8]:
print ("Hello world")

Hello world

In [6]:
#this is a command line
#anything starts with #will be ignored

In [9]:
x = 10
print(x)

10

# VARIABLE

### integer, float, dan string

In [10]:
people = 100
people

100

In [11]:
temperature = 36.0
temperature

36.0

In [12]:
room_name = "Room 1" #string
room_name

'Room 1'

# LIST

In [13]:
matrix = [[1,2,3], [4,5,6]]
matrix[0][0]= 34
print(matrix)

matrix2 = (matrix)
matrix[0][1] = 3


print(matrix2)

[[34, 2, 3], [4, 5, 6]]
[[34, 3, 3], [4, 5, 6]]

In [14]:
fruits = [] #empty list
fruits = ["apple", "banana"]  #list with 2 elements
fruits

['apple', 'banana']

In [15]:
example_list = ["this is string", 10] #list with different types of elements
example_list

['this is string', 10]

In [16]:
#add element to a list
fruits = [["apple", "banana", "durian"], ["mangis", "kelapa","jeruk"]]
fruits[0].append ("orange")
print(fruits)

#klo yang ini namanya modifiying kan
fruits2 = list(fruits)
fruits2[0][0] = "semangka"

print(fruits2)
print(fruits)

print(" ")
print(id(fruits[0]), id(fruits[1])) #id memory akan sama karena kita cuman buat rederences baru bukan copy 
print(id(fruits2[0]), id(fruits2[1]))

[['apple', 'banana', 'durian', 'orange'], ['mangis', 'kelapa', 'jeruk']]
[['semangka', 'banana', 'durian', 'orange'], ['mangis', 'kelapa', 'jeruk']]
[['semangka', 'banana', 'durian', 'orange'], ['mangis', 'kelapa', 'jeruk']]

2523819847488 2523819847616
2523819847488 2523819847616

In [17]:
import copy


#add element to a list
fruits = [["apple", "banana", "durian"], ["mangis", "kelapa","jeruk"]]
fruits[0].append ("orange")
print(fruits)

#klo yang ini namanya modifiying kan
fruits2 = copy.deepcopy(fruits)
fruits2[0][0] = "semangka"


print(fruits2) #yang fruits2 variabel baru elemen pertama terubah

print(fruits) # tanpa memengaruhi elemen yang ada di variabel lama fruit

print(id(fruits[0]), id(fruits[1])) #id memory akan berbeda karena kita melakukan deep copy  
print(id(fruits2[0]), id(fruits2[1])) #yaitu menduplikasi sampai ke inner listnya alhasil id memory di inner list berbeda

[['apple', 'banana', 'durian', 'orange'], ['mangis', 'kelapa', 'jeruk']]
[['semangka', 'banana', 'durian', 'orange'], ['mangis', 'kelapa', 'jeruk']]
[['apple', 'banana', 'durian', 'orange'], ['mangis', 'kelapa', 'jeruk']]
2523818913664 2523818922048
2523819914048 2523819917184

# Dictionary

In [18]:
customer = ()
customer = {"name" : "Jhon", "age" : 30} #dictionary with key -> value pair
customer

{'name': 'Jhon', 'age': 30}

In [19]:
#add new key, value to dictionary
customer = {"name" : "John", "age" : 30}
customer["email"] = "jhon@example.com"
customer

{'name': 'John', 'age': 30, 'email': 'jhon@example.com'}

In [20]:
#accessing individual vakye using key
customer["email"]

'jhon@example.com'

In [21]:
#accessing dictionary value using key and values
customer.keys()

dict_keys(['name', 'age', 'email'])

In [22]:
customer.values()

dict_values(['John', 30, 'jhon@example.com'])

In [23]:
customer.items()

dict_items([('name', 'John'), ('age', 30), ('email', 'jhon@example.com')])

In [24]:
for value in customer.values():
    print (value)

John
30
jhon@example.com

In [25]:
customer["name"]

'John'

###tuple

In [26]:
#tuple is similiar to list but immutable once created
coordinate = (0,5)
print (coordinate)

(0, 5)

In [27]:
colors = ("red", "green", "blue")
colors

('red', 'green', 'blue')


SET

In [28]:
unique_numbers = {1,2,3,3}
unique_numbers = set({1,2,3,4})
unique_numbers

{1, 2, 3, 4}

In [29]:
#add element to a set
unique_numbers.add(2)
unique_numbers.add(3)

## concat string with number

In [32]:
text = str(people) + " people"
text

'100 people'

In [33]:
"there are " + str(people) + " people"

'there are 100 people'

In [36]:
"there are %i people " %people

'there are 100 people '

In [37]:
"there are " + str(people) + " people"

'there are 100 people'

## concat string

In [40]:
text = "Room  :" + room_name
print(text)

Room  :Room 1

In [41]:
" ".join(["there are", str(people), "people in", room_name])

'there are 100 people in Room 1'

## Basic Mathematical Operation

In [42]:
20 + 2

22

In [48]:
3 + 2 + 1 - 5 + 4 %2 - 1/ 4 + 6

6.75

fungsi div hanya akan menghasilkan hasil bagi bilangan secara bulat. sisa bagi dihilangkan bilangan  tersebut dengan tipe fLOAT seperti contoh dibawahnya. Cara kedua jika ingin dibagian atas dengan perintah from future import ...

In [46]:
10 / 3 #div

3.3333333333333335

In [47]:
10.0 / 3

3.3333333333333335

In [49]:
10 % 3 # mod

1

### Function

In [50]:
#function woth no return statement
def print_hello_world():
    print("Hello world")
    
print_hello_world()

Hello world

In [51]:
# function with return statement
def is_even (number):
    return number % 2 == 0

In [55]:
is_even("3")

TypeError: not all arguments converted during string formatting

### IF statement

In [56]:
number = 99
def guess_number (guess):
    if guess < number :
        print("Wrong guess! try with larger number")
    elif is_even(number):
        print("even")
    elif guess > number : 
        print("Wron guess ! try with smaller number")
    else : 
        print ("Correct! congratulations!")
    print(1)

In [57]:
guess_number(5)

Wrong guess! try with larger number
1

In [58]:
guess_number(100)

Wron guess ! try with smaller number
1

In [59]:
guess_number(99)

Correct! congratulations!
1

## looping

In [62]:
range(1, 10)

range(1, 10)

In [63]:
for i in range ( 10 ):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [64]:
# looping in range (a, b) , b is excluded
#looping 5 kali sampai -3 dengan selisih -2
# semacam loop down to
for i in range(5 , -4 , -2):
    print(i)

5
3
1
-1
-3

In [65]:
# looping over list
fruit = ["apple " , "banana", "orange"]
for fruit in fruit:
    print(fruit)

apple
banana
orange

In [68]:
# print all elements in a list
#with function enumerate to get the index of each element
print("the fruits are : ")
for i, fruit in enumerate(fruits):
    print(i, fruit)

the fruits are :
0 ['apple', 'banana', 'durian', 'orange']
1 ['mangis', 'kelapa', 'jeruk']

In [70]:
numbers = [] #create empty list

# loop from 0 to 9
# add number to the list if the number is even
for i in range(10):
    if is_even(i):
        numbers.append(i)
        
numbers

[0, 2, 4, 6, 8]

In [71]:
#while loop

i = 2
numbers = []

while i < 10:
    print(i)
    numbers.append(i)
    i = i + 1

2
3
4
5
6
7
8
9

## Class and Object

In [73]:
#declaring class
class Person:
    # __init__ is default initialization method for class
    # this is usually used to initialize attributes
    def __init__(self):
        self.name = "Jhon"
        self.age = 30
        
person = Person()
print("Person name : %s " %person.name)
print("Person age: %i" %person.age )

Person name : Jhon
Person age: 30

In [75]:
class Person:
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def get_name (self):
        return self.name
    
    def edit_age(self, new_age):
        self.age = new.age
        
person = Person("Jhon", "30")
person.get_name()

AttributeError: 'Person' object has no attribute 'get_age'